<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script>
    const ROOM_ID = "<%= roomId %>"
  </script>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="script.js" defer></script>
  <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  <title>Document</title>
  <style>
    #video-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, 300px);
      grid-auto-rows: 300px;

    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .h-mine {
      height: 35rem;
    }


    .main__controls {
  display: flex;
  background-color: #1c1e20;
  color: #d2d2d2;
  padding: 5px;
  justify-content: space-between;
}
.main__controls__block {
  display: flex;
}
.leaveMeeting {
  background-color: red;
  color: #fff;
}
.main__controls__button {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  margin: 5px;
}
.main__controls__button span {
  margin-top: 10px;
  display: block;
}
.main__controls__button:hover {
  background-color: #34383b;
}
.main__controls__button i {
  font-size: 25px;
}
.-z-1{
  z-index: -1;
}
  </style>
</head>

<body>
  <div>
    <div class="relative w-screen gap-x-2 bg-black p-6 shadow-lg overflow-y-scroll h-screen " id="video-grid">
      <div class="absolute inset-x-0 bottom-0 ">
        <div class="main__controls">
          <div class="main__controls__block">
            <div class="main__controls__button" id="muteButton" onclick="muteUnmute()">
              <i class="fa fa-microphone"></i>
              <span>Mute</span>
            </div>
            <div class="main__controls__button" id="playPauseVideo" onclick="playStop()">
              <i class="fa fa-video-camera"></i>
              <span>Pause Video</span>
            </div>
          </div>
          <div class="main__controls__block">
            <div class="relative main__controls__button" onclick="invitePeople()">
              <input class="absolute top-0 -z-1 opacity-0 w-1 bg-gray-300 mr-1" id="room-id" type="text" value="<%= roomId %>">
              <i class="fa fa-user-plus"></i>
              <span>Invite People</span>
            </div>
            
            <div class="main__controls__button leaveMeeting" id="leave-meeting">
              <i class="fa fa-times"></i>
              <span class="">Leave Meeting</span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</body>

</html>